@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
   overflow-x:hidden;
   overscroll-behavior:none;
}
body{
   font-family: 'Poppins', sans-serif;
   font-weight:400;
   background-color: #ffffff;
}
input{
   border:none;
   outline:none;
}
a{
   text-decoration:none;
   color: #333333;
}
svg{
   cursor:pointer;
   stroke: #333333;
}